body {
    background-color: rgb(90, 114, 158);
    background-image: url("https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    color: rgb(207, 209, 211);
  }
  h3 {
    color: rgb(207, 209, 211);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin-left: 50px;
    text-indent: -7%;
    width: 100%;
  }
  p {
    font-size: larger;
  }
  input {
    font-size: large;
  }
  #title {
    color: white;
  }
  #description {
    color: white;
  }
  #divbody {
    max-width: 40%;
    background-color: rgb(33, 33, 84);
    padding: 35px;
  }
  #checkboxes {
    color: rgb(207, 209, 211);
  }
  #radio  {
    color: rgb(207, 209, 211);
    display: flex;
    font-size: x-large;
    /*
    margin-top: 5px;
    */
  }
  #radiobuttons {
    text-align: left;
  }
  #name {
    width: 95%;
    height: 30px;
    border-radius: 5px;
  }
  #email {
    width: 95%;
    height: 30px;
    border-radius: 5px;
  }
  #number {
    width: 95%;
    height: 30px;
    border-radius: 5px;
  }
  #dropdown {
    width: 95%;
    height: 30px;
    border-radius: 5px;
  }
  #feature {
    width: 95%;
    height: 30px;
    border-radius: 5px;
  }
  #name-label input{
    width: 95%;
    justify-content: center;
  }
  #email-label input{
    width: 95%;
  }
  #number-label input{
    width: 95%;
    align-items: start;
  }
  #checkboxes {
    font-size: x-large;
    text-align: left;
  }
  #textbox {
    width: 95%;
    height: 130px;
    font-size:x-large;
  }
  #submit {
    width: 96%;
    height: 50px;
    background-color:rgb(0, 190, 111);
    border: none;
    margin-top: 25px;
    color: white;
    border-radius: 3px;
  }